/* .container {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  
  .maps {
    width: 80%;
    margin-left: -250px;
  }
  
  .directions {
    width: 60%;
    overflow: auto;
    max-height: calc(100vh - 10px - 50px); /* subtract margin and other elements height */
  /* } */

  :root {
    --container-margin-top: 50px;
  }
  

  .container {
    margin-top: var(--container-margin-top);
    display: flex;
    height: 100%;
  }
  
  .maps {
    flex: 1;
    max-width: 80%;
    margin-left: -200px;
  }
  
  .directions {
    flex: 1;
    max-width: 35%;
    margin-top: calc(var(--container-margin-top) + 20px);
    overflow-y: auto;
    max-height: calc(100vh - 360px);
  }
  
  